.infoContainer{
  padding:50px 50px 0 50px;
  height:100vh;
  display:flex;
  align-items:flex-end;
}
.customHrTag{
  border:2px solid #fff;
  width:30px;
}
.icon-flex{
  display:flex;
  align-items: center;
  gap: 7px;
}
.contactInfoContainer{
  display:flex;
  align-items: center;
  gap:15px;
}
.inviteBtn{
  padding: 10px 24px;
  border-radius: 4px;
  border:1px solid white;
}
.customInputGroup{
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.2);
  border-radius: 4px;

}
#specialStyles .input-group-text{
  background-color:#3270FC;
  color:white;
  border:5px solid white;
  border-radius:4px;
  font-size:14px;
}
.inputGroupPlaceholder::placeholder {
  font-size:14px;
  font-weight: 500;
  font-family: 'Jost', sans-serif;
  color:black;
}
.iconFlex{
  display:flex;
  gap:10px;
}
.iconContainer{
  height:36px;
  width:36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#3270FC ;
  border-radius: 4px;
}
.modelHeaderBg{
  background-color:#F5F7FB;
  padding: 20px 20px 20px 50px;
}
.modal-body{
  padding: 20px 50px;
}
label{
  color:#878C9F;
}
.contactForm{
  background-color:#f8f9fa;
}
#modalBodyForm .input-group-text{
  color:#3270FC;
}
#modalBodyForm .form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}
.rightSection{
  height: 100vh;
  background: linear-gradient(to bottom, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%), url("/assets/rightLaunchingSoon.jpg");
}
.clock{
  display:flex;
  gap:15px;
}
.rightSection{
  padding:50px;
  display:flex;
  align-items: flex-end;
}
.bottomContent{
  display:flex;
  align-items: flex-end;
  gap:280px;
  flex-wrap: wrap;
}
@media (max-width: 1265px) {
  .bottomContent{
    gap:15px;
  }
}
.contactForm::placeholder{
  font-size:13px;
  font-family: 'Jost', sans-serif;
  line-height: 26px;
  font-weight:600;
  color:#878C9F;
}
.navigatorBtnLeft{
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 2;
}
.roundedBtn{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.navigatorBtnRight{
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
}


.myDiv{
  height:4px;
  background-color:white;
  animation: growWidth 2.78s ease infinite;
}
.relativeBlock{
  position:absolute;
  top:30px;
  right: 20px;
  z-index: 5;
  transform: rotate(180deg);

}
.straightLine{
  height:2px;
  background-color:grey;
  width: 200px;
  position:absolute;
  top:30%;
  z-index:-1;
}

@keyframes
growWidth {
        0% {
            width: 1px;
        }
        100% {
            width: 200px;
        }
    }
