<section id="footerSection">
    <div class="">
        <div ngbAccordion>
            <div style="background-color:var(--dark-black)" ngbAccordionItem [collapsed]="true">
                <h2 style="background-color:var(--dark-black)" ngbAccordionHeader>
                    <button style="background-color:var(--dark-black)" class="text-white" ngbAccordionButton>Need to promote your business</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordianBodyContainer">
                            <div  class="row ">
                                <div class="col-12 col-lg-6 col-md-6 col-sm-12 ">
                                    <div class="accordianContentAll">
                                        <div class="jost-font font-size-65 line-height-60 font-weight-400 text-white">
                                            Let us Create your <br> new home
                                        </div>
                                        <div class="jost-font font-size-65 line-height-60 font-weight-400 text-white infoMail">
                                            info&#64;molinsdesign.com
                                        </div>
                                        <div class="jost-font font-size-20 line-height-26 font-weight-400 text-white mt-3">
                                            monday to thursday from 9-14 and from 15-18th Friday from 9-15th
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 col-md-6 col-sm-12 ">
                                    <div class="jost-font text-white font-weight-500 line-height-26 text-black font-size-24 text-align-left mb-4">
                                        Write us
                                    </div>
                                    <div class="form">
                                            <div class="formBorder ">
                                                    <div class="row">
                                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                                                            <input placeholder="Firstname and Surname*" class="form-control"
                                                                type="text"   />
                                                        </div>
                                                        <div style="padding-right: 0 !important;" class="col-12 col-lg-6 col-md-6 col-sm-12">
                                                            <input style="border-top: none;border-bottom: none" placeholder="Email*" class="form-control"
                                                                type="email"   />
                                                        </div>
                                                        <div style="padding-left: 0 !important;" class="col-12 col-lg-6 col-md-6 col-sm-12">
                                                            <input style="border-top: none;border-bottom: none;border-left:none" placeholder="Phone*" class="form-control"
                                                                type="number"   />
                                                        </div>
                                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                                                            <textarea style="width: 100%;background-color:#FDF9F7" placeholder="message"
                                                                id="message" name="message" rows="7">
                                                              </textarea>
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="bottomBoxSendBtn mt-4">
                                        <div style="border-right: none" class="bottomBox">
                                            <div  class="bottomBoxBorder">
                                                <input type="checkbox" class="largecheckbox">
                                                <div class="checkboxContent text-white font-size-18">I have read and accept the
                                                    terms
                                                    of use</div>
                                            </div>

                                        </div>
                                        <div class="sendBtn text-align-center font-size-18">Send</div>
                                    </div>
                                </div>

                            </div>
                          </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div  style="background-color:var(--light-black);" ngbAccordionItem>
                <h2 style="background-color:var(--light-black); margin: 0px ;" ngbAccordionHeader>
                    <button style="background-color:var(--light-black);" class="text-white" ngbAccordionButton>Where to find us</button>
                </h2>
                <div id="glitchySection" ngbAccordionCollapse>
                    <div style="padding: 0 !important;" ngbAccordionBody>
                        <ng-template>
                          <div class="accordianBodyContainer">
                                <div class="row">
                                    <div class="col-12 col-lg-3 borderRight">
                                        <div class="jost-font font-size-65 font-weight-500 text-white line-height-60">
                                            Barcelona
                                        </div>
                                        <div class="jost-font font-size-18 font-weight-400 text-white text-decoration-none line-height-26 mt-4">
                                          Maria Auxiliadora, 17 <br>
                                          Barcelona 08017<br>
                                          T. 93 205 25 56
                                        </div>
                                    </div>
                                  <div class="col-12 col-lg-2 borderRight">
                                    <div class="InnerContent">
                                      <div class="footerBottomHeading">
                                        <span class="jost-font font-size-65 font-weight-500 text-white line-height-60">Social</span>
                                        <div class="column-inner">
                                          <a class="jost-font font-size-18 font-weight-400 text-white text-decoration-none line-height-26">STUDIO</a>
                                          <a class="jost-font font-size-18 font-weight-400 text-white text-decoration-none line-height-26">PROJECT</a>
                                          <a class="jost-font font-size-18 font-weight-400 text-white text-decoration-none line-height-26">BLOG</a>
                                          <a class="jost-font font-size-18 font-weight-400 text-white text-decoration-none line-height-26">SERVICES</a>
                                          <a class="jost-font font-size-18 font-weight-400 text-white text-decoration-none line-height-26">VIDEOS</a>
                                          <a class="jost-font font-size-18 font-weight-400 text-white text-decoration-none line-height-26">CONTACTS</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-12 col-lg-3 borderRight">
                                    <div class="customizedBtnHolder">
                                      <div class="customizedButton">
                                        <div class="customizedBtnLeft bg-black">
                                          <p class="jost-font font-size-13 font-weight-600 "><strong class="text-white jost-font font-size-13"></strong>change.<span>location</span> <i class="fa-solid fa-bars text-white" style="margin-left:5px;"></i></p>
                                        </div>
                                        <div (click)="openModal(template)" class="customizedBtnRight">
                                          <p class="jost-font font-size-13 font-weight-600">Our Networks</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-12 col-lg-4 ">
                                    <div class="InnerContent">
                                      <div class="footerBottomHeading">
                                        <span class="jost-font font-size-65 font-weight-500 text-white line-height-60">Newsletter</span>
                                        <div class="inner-column">
                                          <div class="bottomBoxSendBtn">
                                            <div class="bottomBox">
                                              <div class="bottomFooterBoxBorder">

                                                <input placeholder="Your Email*" class="form-control" type="Email"
                                                       />

                                              </div>

                                            </div>
                                            <div class="sendBtnBottomFooter jost-font text-align-center">Send</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>


                          </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="xityTypeFooter bg-variable-dark-black">

      <div class="endBarContainer">
        <p class="jost-font font-weight-500 text-white font-size-16">
          Created with <i class="fa-solid fa-heart"></i> by © Gudvil ® 2022-24
        </p>
        <p class="jost-font font-weight-500 text-white font-size-16">
          Terms & Conditions
        </p>
      </div>
    </div>
</section>

<ng-template #template>
    <div class="modalBox">
      <div class="row">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 forceZeroPadding">
          <div class="leftContentBody">
            <div class="centerAlignedBox">
              <p class="jost-font text-white font-size-65 font-weight-600 line-height-60  mb-3">OUR PARTNER NETWORK
              </p>
              <p class="jost-font text-white font-size-24 font-weight-600 line-height-26  pt-3">We provide a <i>best-in-class </i> partner experience aligned to our values - we see our partners as an extension of our team and ourselves as an extension of our members.
              </p>
              <div class="inputForm mt-4">
                <div class="ngSelectMenu">
                  <ng-select
                             placeholder="Enter Pin code"
                             [(ngModel)]="selectedCar">
                    <ng-option value="a">600061</ng-option>
                    <ng-option value="a">600061</ng-option>
                    <ng-option value="a">600061</ng-option>
                    <ng-option value="a">600061</ng-option>
                    <ng-option value="a">600061</ng-option>
                    <ng-option value="a">600061</ng-option>
                  </ng-select>
                </div>
                <button class="selectBtnInputForm text-white jost-font font-size-18 text-align-center font-weight-500">
                  SELECT
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 forceZeroPadding">
          <div class="rightImgContainer">
            <img style="width:100%;height:100%" src="assets/formRightImg.jpg">
          </div>
        </div>
      </div>
    </div>
</ng-template>
